header {
  display: flex;
  flex-direction: column;
  height: 95px;
  background-color: white;
  margin-bottom: 2px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 15px;
  z-index: 5000;

  .header_item {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;

    #page_back {
      display: block;
      width: 45px;
    }

    #back_icon {
      width: 20px;
    }

    #store_title {
      font-size: 20px;
      font-weight: bold;
      color: $booking-color-text2;
      padding-right: 6px;
      @include ellipse;
    }

    #order_list {
      font-weight: bold;
      color: $booking-color-text4;
      width: 70px;
    }

    #my_place_page {
      position: relative;
      height: 50px;
      padding-top: 4.5px;
    }

    #profileIMG {
      width: 32px;
      border: 1px solid rgb(184, 243, 224);
      border-radius: 50%;
      opacity: 0.7;
      background-color: rgb(205, 248, 234);
      padding: 2px;
      margin: 6px 15px 0 0;
    }

    #my_place {
      position: absolute;
      left: 20px;
      font-size: 8px;
      font-weight: bold;
    }
  }

  .header_item_banner {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    vertical-align: top;
    line-height: 20px;

    .header_item_banner_list {
      flex: 1;

      padding: 0 12px;
      text-align: center;
      font-size: 18px;
      padding: 13px 13px;
      color: $booking-color-text5;

      &.selected_banner {
        color: $booking-color-text1;
        font-weight: bold;
        #selected_banner_item::after {
          content: "";
          position: absolute;
          bottom: -13px;
          left: 0;
          right: 0;
          height: 3px;
          background-color: black;
        }

        #selected_banner_item {
          position: relative;
          display: inline-block;
        }
      }
    }
  }
}
