header {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
  font-size: 15px;

  .header_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;

    #page_back {
    }

    #back_icon {
      width: 20px;
    }

    #store_title {
      font-size: 20px;
      font-weight: bold;
      color: $booking-color-text2;
    }

    #order_list {
      font-weight: bold;
      color: $booking-color-text4;
    }

    #my_place_page {
      position: relative;
    }

    #profileIMG {
      width: 32px;
      border: 1px solid black;
      border-radius: 50%;
      opacity: .7;
      background-color: rgb(205, 248, 234);
      margin-top: 5px;
    }

    #my_place {
      position: absolute;
      top: -1px;
      left: 20px;
      font-size: 8px;
      font-weight: bold;
    }
  }
}
